@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Ogg Roman';
    src: url('/fonts/Ogg-Roman.otf');
}

@font-face {
    font-family: 'Druk Wide';
    src: url('/fonts/DrukWideHeavy.otf');
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1 {
    font: 5vw 'Druk Wide', sans-serif;
    line-height: normal;
}

h2 {
    font: 2rem 'Ogg Roman', serif;
    line-height: normal;
}

h3 {
    font: bold 2.4rem 'Roboto Mono', sans-serif;
    letter-spacing: .2rem;
}

html {
	height: 100%;
	font-size: 62.5%;
	font-family: sans-serif;
	margin: 0!important;
	display: block;
}

body {
    background: #041251;
    color: #fff;
    font: 1.2rem 'Roboto Mono', sans-serif;
    line-height: normal;
    letter-spacing: .1rem;
}

.site-wrap{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

    .site-wrap .title, .site-wrap .content {
        max-width: 100vw;
    }

    .no-select {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */
    }

    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        #site-title {
            text-align: center;
            text-transform: uppercase;
        }
        
        #site-description {
            width: 60vw;
            margin: 0rem;
        }
        
        #site-description::before {
            background-color: #fff;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 25%;
        }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .content #logo img {
            margin: 5rem 0;
            width: 30rem;
        }

        .content .footer {
            margin: 0 auto;
            width: 50vw;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        .content #footer-left, .content #footer-right {
            text-transform: uppercase;
        }

        .content #line::before {
            background-color: #fff;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 3rem;
        }

        .content ul {
            list-style-type: none;
            margin: 0;
            padding: 2rem 0;
        }

        .content li:hover::after {
            content: '\2197';
            font-size: 1rem;
            margin-top: -.5rem;
        }