@font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: 'Ogg Roman';
    src: url('/fonts/Ogg-Roman.otf');
}

@font-face {
    font-family: 'Druk Wide';
    src: url('/fonts/DrukWideHeavy.otf');
}

.ogg {
    font-family: "Ogg Roman", serif;
}

.druk {
    font-family: "Druk Wide", sans-serif;
}

.roboto-mono {
    font-family: "Roboto Mono", sans-serif;
}

.bg-very-dark-blue {
    background-color: #00004d;
}

.vh-10 {height:  10vh; }
.vh-90 {height:  90vh; }
.h-33 {height: 33.33%;}
.h-66 {height: 66.67%;}

.logo {
    background: url(/images/lr-logo.png) center center no-repeat;
    background-size: 35vw;
}

#info-description-text::before {
    background: #fff;
    content: "";
    display: inline-block;
    height: 0.1rem;
    position: relative;
    vertical-align: middle;
    width: 10vw;
    margin-right: 1rem;
}

@media screen and (max-width: 30em) {
    .mobile-hide {display: none;}
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body {
    -webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}