@font-face {
	font-family: 'Druk';
	src:url('/fonts/DrukWideBold.woff');
}

@font-face {
	font-family: 'Ogg';
	src: url('/fonts/ogg-roman-webfont.woff');
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/fonts/MaisonNeue-Medium.woff');
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/fonts/MaisonNeue-Light.woff');
	font-weight: lighter;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/fonts/MaisonNeue-Bold.woff');
	font-weight: bold;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

html {
	height: 100%;
	font-size: 62.5%;
	font-family: sans-serif;
	margin-top: 0!important;
	display: block;
}

body {
	font-family: 'Maison Neue', sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
	background-color: #000;
	color: #fff;
	margin: 0!important;
}

/* Text Styles */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color:#fff;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

li {
	list-style-type: none;
	margin: 0 1rem;
}

h1 {
	font-family: 'Druk', sans-serif;
	font-weight: bold;
	font-size: 8rem;
	letter-spacing: .25rem;
}

h2 {
	font-family: 'Ogg', serif;
	font-size: 5rem;
	line-height: 5rem;
	letter-spacing: .15rem;
	font-weight: lighter;
}

/* Class Styles */
.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}

.site-wrap {
	height: 100%;
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

/* Header */

#site-header {
	max-width: 100%;
	position: relative;
	border-bottom: solid .1rem #fff;
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
	z-index: 3;
}

#site-header #site-logo {
	position: absolute;
	display: inline-block;
	left: 6%;
	top: .7rem;
	font-family: 'Druk', sans-serif;
	font-size: 3rem;
	line-height: 4rem;
	text-transform: uppercase;
}

#site-header #site-logo a {
	color: #fff;
}

#site-header #site-logo a:hover:after {
	position: absolute;
	content: '™';
}

/* Clock */

.clock {
	position: absolute;
	display: inline-block;
	top: 1.75rem;
	left: 50%;
	transform: translateX(-50%);
	line-height: 2rem;
    font-size: 2rem;
    font-family: 'Druk', sans-serif;
}

@media screen and (max-width: 95rem) {
	.clock {
		display: none;
	}
}

/* Menu Icon */

#site-header .menu-icon {
	cursor: pointer;
	position: relative;
	display: block;
	right: 5%;
	top: -.4rem;
	float: right;
	width: 5rem;
	padding: 3rem 2rem;
	user-select: none;
}

#site-header .menu-icon .navicon {
	background: #fff;
	display: block;
	position: relative;
	height: .1rem;
	transition: all .2s ease-out;
	width: 5rem;
}

#site-header .menu-icon .navicon:before,
#site-header .menu-icon .navicon:after {
	background: #fff;
	content: '';
	display: block;
	height: 100%;
	position: relative;
	transition: all .2s ease-out;
	width: 100%;
}

#site-header .menu-icon .navicon:before {
	top: 1.2rem;
}

#site-header .menu-icon .navicon:after {
	top: -1.2rem;
}

/* Menu Button */

#site-header .menu-btn {
	display: none;
}

/* Max height of menu panel after opening */
#site-header .menu-btn:checked ~ .menu {
	max-height: 100rem;
}

#site-header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

#site-header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

#site-header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

#site-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
#site-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

/* Menu Panel */

#site-header .menu {
	display: block;
	position: relative;
	clear: both;
	max-height: 0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
	transition-delay: 0s;
	overflow: hidden;
	background: #000;
}

#site-header .menu #description {
	position: relative;
	display: block;
	margin: 10rem 10rem;
}

#site-header .menu #menu-links {
	position: relative;
	display: block;
	margin: 3rem 0;
	right: 5%;
	font-family: 'Druk', sans-serif;
	font-size: 1.5rem;
	line-height: 1.5rem;
	direction: rtl;
}

#site-header .menu #menu-links a {
	color: #fff;
	-webkit-transition: color .5s ease;
	transition: color .5s ease;
}

#site-header .menu #menu-links a:hover {
	color:#444;
}

#site-header .menu #menu-links ul {
	list-style-type: none;
}

#site-header .menu #menu-links li {
	display: inline;
	margin: 0 2.5rem 2.5rem 0;
}

.container {
	top: 10rem;
	padding-bottom:	5rem;
	width: 100%;
	position: absolute;
	text-align: center;
}

.music p {
	font-family: 'Ogg', serif;
	font-size: 2rem;
	letter-spacing: .15rem;
	line-height: 2rem;
}

.music a:hover:after {
	content: '\2197';
	position: absolute;
	font-size: 1.5rem;
	margin-top: -.5rem;
}

.music-h1 {
	padding-bottom: 2rem;
}

.music-h1-2 {
	padding: 2rem 0;
}

.info-logo {
	height: 25vh;
}

/* Photo Slideshow */
#images-container {
	position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.images {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
  
.images li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
  
.images li:first-child {
	position: relative;
	display: block;
	float: left;
}
  
.images img {
	max-height: 75vh;
	max-width: 75vw;
}

/* Slideshow Invisible Nav */
.transparent-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 0;
	left: 0;
	display: block;
	background: #fff; /* Fix for IE6-9 */
	opacity: 0;
	filter: alpha(opacity=1);
	width: 48%;
	text-indent: -9999px;
	overflow: hidden;
	height: 91%;
}
  
.transparent-btns_nav.prev {
	cursor: url('https://bucket1.format-assets.com/theme_versions/4471465/assets/img/arrow-left.svg'), w-resize;
}

.transparent-btns_nav.next {
	cursor: url('https://bucket1.format-assets.com/theme_versions/4471465/assets/img/arrow-right.svg'), e-resize;
	left: auto;
	right: 0;
}
  
.transparent-btns_nav:focus {
	outline: none;
}
  
  
.transparent-btns_tabs {
	margin-top: 10px;
	text-align: center;
}
  
.transparent-btns_tabs li {
	display: inline;
	float: none;
	_float: left;
	*float: left;
	margin-right: 5px;
}
  
  
.transparent-btns_tabs a {
	text-indent: -9999px;
	overflow: hidden;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #ccc;
	background: rgba(0,0,0, .2);
	display: inline-block;
	_display: block;
	*display: block;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	width: 9px;
	height: 9px;
}
  
  
.transparent-btns_here a {
	background: #222;
	background: rgba(0,0,0, .8);
}

/* Boy In Bloom */
#site-title {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
	line-height: 8rem;
}